<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>PelículasApp | Aplicación de gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/cpeliculas/guardar/}" method="post" th:object="${pelicula}" enctype="multipart/form-data">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" th:field="*{titulo}" id="titulo" name="titulo"
                   placeholder="Escriba el título de la pelicula" required="required">
        </div>
        <div class="mb-3">
            <label for="duracion" class="form-label">Duración</label>
            <input type="number" class="form-control" th:field="*{duracion}" id="duracion" name="duracion"
                   placeholder="Escriba la duración de la película en minutos" required="required">
        </div>
        <div class="mb-3">
            <label for="director" class="form-label">Director</label>
            <input type="text" class="form-control" th:field="*{director}" id="director" name="director"
                   placeholder="Escriba el nombre del director de la película" required="required">
        </div>
        <div class="mb-3">
            <label for="anno" class="form-label">Año</label>
            <input type="number" class="form-control" th:field="*{anno}" id="anno" name="anno"
                   placeholder="Escriba el año de la película" required="required">
        </div>

        <div class="mb-3">
            <select class="form-select" th:field="*{genero}" name="genero" id="genero">
                <option th:value="Thriller">Thriller</option>
                <option th:value="Mafia">Mafia</option>
                <option th:value="Comedia">Comedia</option>
                <option th:value="Terror">Terror</option>
                <option th:value="Aventuras">Aventuras</option>
                <option th:value="Romantica">Romántica</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="pais" class="form-label">Pais</label>
            <input type="text" class="form-control" th:field="*{pais}" id="pais" name="pais"
                   placeholder="Escriba el pais de la película" required="required">
        </div>
        <div class="mb-3">
            <label for="sinopsis" class="form-label">Sinopsis</label>
            <input type="text" class="form-control" th:field="*{sinopsis}" id="sinopsis" name="sinopsis"
                   placeholder="Escriba la sinopsis de la película" required="required">
        </div>


        <img th:if="${pelicula.imagen != null && #strings.length(pelicula.imagen) > 0}" class="img-thumbnail rounded float-left"
             style="max-width: 25%;" th:src="@{'/cpeliculas/uploads/' + ${pelicula.imagen}}"
             th:alt="${pelicula.imagen}" />

        <div class="mb-3">
            <label for="file" class="col-sm-2 col-form-label">Imagen</label>
            <div class="col-sm-6">
                <input type="file" id="file" name="file" class="form-control" />
            </div>
        </div>

        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idPelicula}"/>
        <input type="hidden" th:field="*{imagen}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/}">Ir a Inicio</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>