<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PelículasApp | Aplicación de gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <h4 class="card-title">
                <a th:href="@{/cpeliculas/nuevo}" class="btn btn-primary btn-xs">Crear nueva película</a>
            </h4>

            <table class="table table-hover">º
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Director</th>
                    <th scope="col">Año</th>
                    <th scope="col">Genero</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pelicula : ${listadoPeliculas}">
                    <td> <a class="btn btn-primary btn-xs" th:href="@{/cpeliculas/ver/} + ${pelicula.idPelicula}" th:text="${pelicula.idPelicula}"></a></td>
                    <td th:text="${pelicula.titulo}"></td>
                    <td th:text="${pelicula.duracion}"></td>
                    <td th:text="${pelicula.director}"></td>
                    <td th:text="${pelicula.anno}"></td>
                    <td th:text="${pelicula.genero}"></td>
                    <td >
                        <a th:href="@{/cpeliculas/editar/{id}  (id=${pelicula.idPelicula})  }" th:text="'editar'" class="btn btn-success btn-sm" role="button" title="Editar la película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a th:href="@{/cpeliculas/borrar/{id}  (id=${pelicula.idPelicula})   }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la película."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                    <!--
                                        <td sec:authorize="hasRole('ROLE_USER')">
                                            <a th:href="@{/cmatriculas/matricular/{id}  (id=${pelicula.idPelicula}) }" th:text="'matricular'" class="btn btn-info btn-sm" role="button" title="Matricular en el curso."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                        </td>
                    -->
                    <td >
                        <a th:href="@{/cpeliculas/listadoActores/{id}  (id=${pelicula.idPelicula}) }" th:text="'actores'" class="btn btn-info btn-sm" role="button" title="Actores en la película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    </td>

                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/}">Ir a Inicio</a>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>