<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>PeliculasApp | Aplicación de gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="text-center">Gestión de peliculas</h1>
    <hr>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Listado peliculas</h3>
                <a class="page-link" th:href="@{/cpeliculas/listado}">
                    Listado peliculas
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Buscar peliculas</h3>
                <a class="page-link" th:href="@{/cpeliculas/buscar}">
                    Buscar películas
                </a>
            </div>
        </div>


        <div class="card" >
            <div class="card-body">
                <h3 class="card-title">Listado actores</h3>
                <a class="page-link" th:href="@{/cactores/listado}">
                    Listado de actores
                </a>
            </div>
        </div>
    </div>
</div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>